<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <title>Ques4</title>
   <style>
       #container{
           width:70%;
           margin: 70px auto;
       }
   </style>
</head>
<body>

<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('container', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'bowlers names'
      },
      xAxis: {
          title: {
              text: 'Seasons'
          },
          categories: [{% for bowler_names in most_economical_bowlers %}'{{ bowler_names }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
      },
      yAxis: {

          title: {
              text: 'economy'
          }
      },
      series: [{
          name: 'Matches',
          data: [
            {% for key,value in most_economical_bowlers.items %}{{ value }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ]
      }]
  });
</script>
</body>
</html>